all:
  children:
    bastion:
      hosts:
        bastion[01:01]:
    vcenter:
      hosts:
        vcenter[01:01]:
    stack:
      children:
        stdalvm:
          hosts:
            stdalvm[01:{{ '%02d' | format(environment_definition.customer.primary.number_of_stdalvms|int) }}]:
